@use "../variables" as var;

.recipe-card {
  &_container {
    flex-basis: 30%;
    background-color: var.$background-lightgray;
    margin-bottom: 3em;
    border-radius: var.$recipe-card_border-radius;
  }
  &_picture {
    border-radius: var.$recipe-card_border-radius var.$recipe-card_border-radius 0 0;
    width: 100%;
    height: 20em;
    background-color: #C7BEBE;
    object-fit: cover;
  }
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_bottom {
    display: flex;
    //justify-content: space-between;
    //padding: 0 1em;
    margin-left: 0;
  }
  &_ingredients-list {
  flex-basis: 45%;
  }
  &_description {
    flex-basis: 50%;
  }
  &_placeholder {
    visibility: hidden;
  }
}
