@use "../variables" as var;

.top-search {
  &_bar {
    width: 100%;
    height: 4em;
    border-radius: 5px;
    background-color: var.$background-lightgray;
    margin: 1em 0;
    border: none;
    padding-left: 1em;
    font-size: 1.3em;
  }
  &_container {
    position: relative;
    svg {
      position: absolute;
      height: 3em;
      right: 1em;
      top: 2.3em;
    }
  }
}