.top-filters {
  &_container {
    display: flex;
    margin: 1em 0;
    & label {
      display: flex;
      position: relative;
      margin-right: 2em;
      margin-bottom: 2em;
      & svg {
        position: absolute;
        fill: white;
        height: 1.8em;
        right: 1em;
        top: 1.4em;
      }
    }
    & input {
      height: 4em;
      width: 12.5em;
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: 700;
      font-size: 19px;
      text-align: left;
      padding-left: 1em;
      &::placeholder {
        color: white;
      }
    }
  }
  &_ingredients {
    background-color: #3282f7;
  }
  &_appareils {
    background-color: #68d9a4;
  }
  &_ustensiles {
    background-color: #ed6454;
  }
}
