.top-filters {
  &-list_container {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    @media (min-width: 550px) and (max-width: 590px) {
      justify-content: space-between;
    }
    & label {
      display: flex;
      position: relative;
      margin-right: 2em;
      @media (max-width: 550px) {
        width: 100%;
        margin-right: 0;
      }
      @media (min-width: 426px) and (max-width: 590px) {
        margin-right: 0;
      }
    }
    & input {
      height: 4em;
      width: 100%;
      padding-right: 3em;
      min-width: 6em;
      @media (min-width: 550px) and (max-width: 768px) {
        min-width: 3em;
        max-width: 5.1em;
      }
      @media (min-width: 769px) and (max-width: 1024px) {
        //min-width: 6em;
        max-width: 6em;
      }
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: 700;
      font-size: 1em;
      text-align: left;
      padding-left: 1em;
      &::placeholder {
        color: white;
      }
    }
  }
  &_ingredient {
    background-color: #3282f7;
  }
  &_appliance {
    background-color: #68d9a4;
  }
  &_ustensils {
    background-color: #ed6454;
  }
  &_container {
    position: relative;
    & svg {
      position: absolute;
      fill: white;
      height: 1.8em;
      right: 3em;
      top: 1.4em;
      cursor: pointer;
      & > path {
        // Prevents <path> element from interfering with event listeners of top filters
        pointer-events: none;
      }
    }
    & label input::placeholder {
      text-transform: capitalize;
    }
  }
  &_suggestions {
    &-container {
      position: relative;
      margin-right: 2em;

      &[data-filter-visible="false"] {
        display: none;
      }
      &[data-filter-visible="true"] {
        display: block;
      }
    }
    &-list {
      margin: 0;
      height: 20em;
      column-count: 3;
      column-fill: balance;
      overflow: hidden;
      width: 40em;
      &[data-filter-list-category="ingredient"] {
        background-color: #3282f7;
      }
      &[data-filter-list-category="appliance"] {
        background-color: #68d9a4;
      }
      &[data-filter-list-category="ustensils"] {
        background-color: #ed6454;
      }
      & li {
        text-transform: capitalize;
        line-height: 2em;
        list-style: none;
        color: white;
      }
    }
  }
}
